@using Dfe.Data.SearchPrototype.Web.Models.ViewModels
@model SearchResults

@{
    ViewData["Title"] = "Search Results";

}

<form asp-action="Index" asp-controller="Home" method="get" id="search-establishments-form">

    @* search component *@
    @await Html.PartialAsync("_SearchComponent")

    @if (Model != null)
    {
        @if (Model.HasFilters)
        {
            @* filters *@
            @await Html.PartialAsync("_FiltersComponent", Model)
        }
        @if (Model.HasResults)
        {
            @* display results *@
            @await Html.PartialAsync("_DisplayResultsComponent", Model)
        }
        else
        {
            <div class="govuk-grid-column-two-thirds" id="no-results">
                <p>Sorry no results found please amend your search criteria</p>
            </div>
        }
    }
</form>